# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db

# Finder text snippets
*.textClipping

# Editors
*.swp
*~

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Builds
node_modules/
dist/
build/

# Netlify local state (not needed on CI)
.netlify/
.netlify/state.json
.netlify/tmp/

# Env
.env
.env.*
