# macOS cruft
.DS_Store
.AppleDouble

# Windows cruft
Thumbs.db

# Build artifacts (future-proof)
node_modules/
dist/
build/

# Netlify local folder
.netlify/
REINISCHCLASSROOM P U B L I S H E R/netlify-builder-v8.html
REINISCHCLASSROOM P U B L I S H E R/netlify-builder-v9 (2).html
